.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: center;
    align-items: center;
}
img{
    width: 700px;
    height: 450px;
}
.Sun{
    grid: flex;
    padding: 500px;
    margin: 5px;
    border: 5px;
    border-color: black;
    border-style: dashed;
}

.Historial{
    grid: flex;
    grid-column: 1;
    grid-row: 1;
    padding: 5px;
}

.Carterista{
    grid: flex;
    grid-column: 2;
    grid-row: 1;
    padding: 5px;
}
