.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

/* Esto no importa*/
.box1{
    box-sizing: content-box;
    padding: 20px;
    max-width: 100px;
    margin: 75px;
    max-width: 100px;
    border: solid beige 5px;
}

.box2{
    box-sizing: border-box;
    padding: 20px;
    max-width: 100px;
    margin: 75px;
    max-width: 100px;
    border: solid beige 5px;
}

/* Las imágenes tienen los mismos parámetros*/
img{
    width: 650px;
    height: 450px;
    align-self: center;
}

/* Clase principal*/
.Sun{
    grid: flex;
    padding: 500px;
    margin: 5px;
    border: 5px;
    border-color: black;
    border-style: dashed;
}


/*Clase secundaria*/
/* atención a la estructura column y row*/
.Historial{
    grid: flex;
    grid-column: 1;
    grid-row: 1;
    padding: 5px;
}

.Carterista{
    grid: flex;
    grid-column: 2;
    grid-row: 1;
    padding: 5px;
}

.Hacker{
    grid: flex;
    grid-column: 3;
    grid-row: 1;
    padding: 5px;    
}

.Victoria{
    grid: flex;
    grid-column: 1;
    grid-row: 2;
    padding: 5px;
}
.Academia{
    grid: flex;
    grid-column: 2;
    grid-row: 2;
    padding: 5px;
}
.Cazar{
    grid: flex;
    grid-column: 3;
    grid-row: 2;
    padding: 5px;
}
.Votantes{
    grid: flex;
    grid-column: 1;
    grid-row: 3;
    padding: 5px;
}
.Mosquito{
    grid: flex;
    grid-column: 2;
    grid-row: 3;
    padding: 5px;
}
.Cuchillo{
    grid: flex;
    grid-column: 3;
    grid-row: 3;
    padding: 5px;
}

.Trust{
    grid: flex;
    grid-column: 1;
    grid-row: 4;
    padding: 5px;
}

.Socialdemocracia{
    grid: flex;
    grid-column: 2;
    grid-row: 4;
    padding: 5px;
}

.Frío{
    grid: flex;
    grid-column: 3;
    grid-row: 4;
    padding: 5px;
}
.Politica{
    grid: flex;
    grid-column: 1;
    grid-row: 5;
    padding: 5px;
}
.Gimnasio{
    grid: flex;
    grid-column: 2;
    grid-row: 5;
    padding: 5px;
}

.Error{
    grid: flex;
    grid-column: 3;
    grid-row: 5;
    padding: 5px;
}